@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
}

.tag {
    border-radius: 5px;
    padding: 2px 5px;
}

.pupil-table {
    max-height: 91vh;
}

#app {
    display: grid;
    grid-template-columns: 200px repeat(19, 1fr);
    grid-template-rows: repeat(20, 1fr);
    max-height: 100vh;
    overflow: hidden;
}

#navbar { grid-area: 1 / 1 / 2 / 21; }
#menu { grid-area: 2 / 1 / 21 / 2; }
#router-area { 
    grid-area: 2 / 2 / 21 / 21;
    padding: 10px; 
}

.modal-backdrop {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-dialog {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 380px;
}

