@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 30px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff00;
    margin: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 100vh;
    border: 10px solid white;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b1b1b1;
  }

  .modal-backdrop {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
}
  
  .modal-dialog {
      background-color: #ffffff;
      padding: 20px;
      height: fit-content;
      width: fit-content;
      max-height: 1000px;
      max-width: 1000px;
      min-height: 100px;
      min-width: 100px;
  }
}

#app {
    display: grid;
    grid-template-columns: 200px repeat(19, 1fr);
    grid-template-rows: 60px repeat(19, 1fr);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#navbar { grid-area: 1 / 1 / 2 / 21; }
#menu { grid-area: 2 / 1 / 21 / 2; }
#router-area { 
    grid-area: 2 / 2 / 21 / 21;
}



