@charset "utf-8";
@import "./bulma/bulma.sass";

$table-head-cell-border-width: 0 0 1px;

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
    
* {
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
}

.pt-scrollable-table {
    height: 80vh;
    overflow: auto;
    border: none;
}

.pt-sticky-header table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
